{% extends 'base.html' %}
{% load static %}

{% block head %}
  <title>Blog</title>
{% endblock %}

{% block content %}
{% include "components/navbar_small.html" %}
<div class="container pt-5 mt-5">
  <div class="row">
    <div class="col-12 text-justify">
      <h1>Blog</h1>
      <p>
        Currently I’m working to migrate my personal blog from wordpress
        to this site, in the meantime you can access a few of my posts
        from below links:
      </p>
    </div>
  </div>

  <div class="row mt-3">
    {% for post in posts %}
      <div class="col col-12 pt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">
              {{ post.desc }}
            </p>

            <a href="{{ post.link }}" class="card-link" target="_blank">
              Read more
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="row mt-5">
    <div class="col text-center">
      <p>
        You want to see more? Checkout my
        <a href="https://lineaporlinea.wordpress.com/" target="_blank">
          <span>blog</span>
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
