/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900|Roboto+Slab:400,700&display=swap');

/**********************************************/
/** Global styles */

html, body {
    /*background: #F5F5F5;*/
    font-family: 'Roboto Slab', "San Francisco Display", "Calibri", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

.bottom-border-light {
    border-bottom: 1px solid #ECECEC;
}

/**********************************************/
/** Navbar */

.navbar {
    background: #FFFFFF;
}

.navbar .nav-link {
    font-size: 1.1rem;
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-nav .nav-link-brand {
    padding-left: 0 !important;
}

.navbar-nav .navbar-profile-link {
    display: flex;
}

/** @deprecated (Cause images from navbar was removed) */
.navbar-nav .navbar-profile-link .image {
    background-image: url("./profile.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 48px;
    margin-right: 12px;
    width: 48px;
}

.navbar-nav .navbar-profile-link .fullname {
    color: #323232;
    font-size: .95rem;
}

.navbar-nav .navbar-profile-link .job {
    font-size: 0.9rem;
}


/**********************************************/
/** Presentation card */

.presentation-card {
    /*border: 1px solid black;*/
    margin: 32px 24px;
    padding: 32px;
}

.presentation-card .profile-image {
    background-image: url("./profile.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    border: 1px solid #989898;
    height: 140px;
    margin: auto;
    width: 140px;
}

.presentation-card a:hover {
    text-decoration: none;
}


/**********************************************/
/** Footer */

.footer {
    background: #323232;
    color: #FAFAFA;
    margin-top: 56px;
}

.footer .footer-link {
    color: #D0D0D0;
    /*display: block;*/
    margin: 0 8px;
    padding: 4px;
}

.footer .footer-link:hover {
    text-decoration: none;
}

.footer .footer-link.active {
    color: #FFFFFF;
}


/**********************************************/
/** Media queries */

@media screen and (max-width: 991px) {
    .presentation-card {
        /*border: 1px solid black;*/
        margin: 32px 8px;
        padding: 8px;
    }

    .navbar-nav .nav-item .nav-link {
        font-size: 1rem;
        padding-left: 8px !important;
        padding-right: 8px !important;
    }

    .navbar-nav .nav-item .nav-link-brand {
        padding-left: 0 !important;
    }
}

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse {
        margin-top: 8px;
        padding-bottom: 16px;
        text-align: center;
    }

    .navbar .navbar-collapse.show {
        border-bottom: 2px solid #959595;
    }
}

@media screen and (max-width: 575px) {
    .footer .footer-link {
        display: block;
        padding: 12px 4px;
    }
}

@media screen and (max-width: 490px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.6rem;
    }
}
