<h1>Career overview</h1>

<p class="pt-3">
  My journey begun when I was 17 (<b>late of 2010</b>). I chosen “Computer Systems Engineering” as my career at the
  university and after a few months I was completely convinced that it was the right chose
  for me. At those days I was actively reading/learning about linux, node, java, html5, google app engine and
  practically every technology that a found on internet, at the same time I was being formally instructed in software
  engineering, maths and applied sciences at school.
</p>

<p>
  <b>In 2014</b> (I have very clear this year in my mind), I went into my first end to end side project. It was a web
  application that plays multimedia content directly from multiple cloud storage providers such
  as Microsoft SkyDrive (OneDrive), Google Drive and Dropbox, something similar to Spotify/Youtube but private and with
  your own media. At that moment it was a really eye opener for me, I had to learn about REST Services,
  APIs, OAuth authentication, Http protocol, Http security, Scheduled jobs on server side, NoSQL Databases and frameworks
  for frontend development (Angularjs at that moment). Although the final version of the app that I created was
  very fragile, it was a great achievement for me and a motivation engine for the next years. <br>
  From that moment onwards I’ve been continuously working on side projects and looking for ideas to develop
  independently of my daily workload.
</p>

<p>
  My formal professional career started at <b>June of 2015</b> when I got my first job as a software developer at a
  local agency. I was working there three years creating web applications and learning multiple frameworks such as
  Laravel, Django and Spring boot and created a few android apps. Also I had the opportunity to coordinate a
  team to implement gitlab in our internal infrastructure and docker in order to increase the portability of
  our apps and speed up our development process. During my years here I got a lot of scenarios to learn and
  prove ideas to improve the quality of our developments and workflow.
</p>

<p>
  At <b>January of 2018</b> I was invited to found an enterprise focused on bring software development solutions
  to emerging local enterprises and businesses. Such as that adventure in 2014 that i mentioned above, it was a huge
  experience to a completely complex world such as project management, client meetings and presentations, team leading
  and effective communication between development, design and management teams. <br/>
  The last 18 months have been unbelievable for me, I’ve been working on multiple very exciting and complex projects
  with multiple technologies and I’ve been working with awesome people from multiple disciplines and backgrounds.
</p>