<h1>Career overview</h1>

<p class="pt-3">
  My journey started when I was 17 (<b>late of 2010</b>). I decided to study “Computer Systems Engineering” at the
  university and after a few months I was completely convinced that the software development was the right chose
  for me. In those days I was actively reading/learning about linux, node, java, html5, google app engine and
  practically every technology that a found on internet at the same time I was formally instructed in software
  engineering, maths and applied science at school.
</p>

<p>
  <b>In 2014</b> (I have very clear this year in my mind), I went into my first end to end side project. It was a web
  application that allows you to play your multimedia content directly from multiple cloud storage providers such
  as Microsoft OneDrive, Google Drive and Dropbox, something similar to Spotify/Youtube but private, with your own
  collection of music. At the moment it was a really eye opener for me, I had to learn about REST Services, APIs,
  OAuth authentication, Http protocol, Http security, Scheduled jobs on server side, NoSQL Databases and frameworks
  for frontend development (Angularjs at that moment). Although the final versión of the app that I created was
  very fragile, it was a great achievement for me and a motivation engine for the next years. <br>
  From that moment onwards I’ve been continuously working on side projects and looking for ideas to develop
  independently of my daily workload.
</p>

<p>
  My formal professional career begins in <b>June of 2015</b> when i got my first job as a software developer. I was
  working there three years creating web applications and learning multiple frameworks such as Laravel, Spring
  boot and Django and creating a few mobile applications for android. Also I had the opportunity along other
  members of team to implement gitlab in our internal infrastructure and docker to increase the portability of
  our apps and speed up our development and deploy processes. I really got a lot of opportunities to learn and
  prove ideas to improve the quality of our developments and workflow.
</p>

<p>
  At <b>January of 2018</b> I was formally invited to create an enterprise focused on bring software development solutions
  to emerging local enterprises and businesses. Such as that adventure in 2014 that i mentioned above, it was another
  big eye opener to a completely complex world such as project management, client presentations, team leading and
  effective communication between development, design and management teams. The last 17
  months have been unbelievable for me, I’ve been working on multiple very exciting and complex projects across
  multiple technologies and I’ve been working with awesome people from multiple disciplines and backgrounds.
</p>