<h1 class="text-left">What am I currently looking for?</h1>

<p class="pt-3">
  As I mentioned at my career overview, in the last months I had been leading software development projects,
  When it all started was a completely new scenario for me and I’d been giving my best to achieve our
  internal goals and the goals of our clients and motivating to my team to offer its best effort. Even although all
  this has gone very well (I had to say even better than my initial expectations), I’ve been
  continuously thinking about my personal goals and dreams, lead my own enterprise definitely is one of them,
  but to work for a great enterprise is also on my list, and from my perspective the latter is required to achieve the
  first one. I mean, which better way to lead a team that the way the best companies do it?
  The only way I can learn it is from inside, working with talented people with far enough more experience than me.
</p>

<p>
  I’m looking for an awesome team of incredible talented people from which I could learn and give my best effort to
  contribute. A world class enterprise with a solid culture and dedicated to delivering positive experiences
  and impact our community.
</p>

<p>
  It sounds like what you’re looking for?<br/>
  <button
     class="btn btn-dark mt-2"
     data-toggle="modal"
     data-target="#modal-contact">
    Contact me
  </button>
</p>
