<h1 class="text-left">What am I currently looking for?</h1>

<p class="pt-3">
  As I mentioned at my career overview, in the last months I had been working leading software development projects,
  When all it started it was a completely new scenario for me and I’d been giving the best of me to achieve our
  internal goals and the goals of our clients and motivate to my team to offer its best effort. Even although all
  this has gone very well (I had to say even better than my initial expectations), in the last days I’ve been
  continuously thinking that is  essential to be a great person to create and drive a great awesome company
  and it requires a very strong and solid <b>technical knowledge</b> and <b>experience</b> to handle
  important decisions when you’re leading technical teams.
</p>

<p>
  I’m looking for an awesome team with incredible talented people from which I can learn a lot and give my best effort
  to contribute to all of them, I want to learn from inside whats is the way in which the awesome and successfully
  enterprises do the things. I read the engineering blogs from multiple of them but I know that behind the scenes there
  are a lot of situations happening in the daily workflow, a lot of scenarios and problems to solve in traditional
  and nontraditional ways. I think that i need to work a few years alongside awesome people, doing awesome projects
  in an awesome company. Cause I want to be awesome.
</p>

<p>
  It sounds like what you’re looking for?
</p>

