{% extends 'base.html' %}
{% load static %}

{% block head %}
  <title>Giovanni Aguirre</title>
{% endblock %}

{% block scripts %}
  <script src="{% static 'landing/landing.js' %}"></script>
{% endblock %}

{% block content %}
  {% include "components/navbar_index.html" %}
  <div class="container pt-5">

    <div class="row">
      <div class="col-12">
        {% include "components/presentation_card.html" %}
      </div>

      <div class="col-12 text-justify">
        {% include "index/_career_overview.html" %}
      </div>

      <div class="col-12 mt-4 text-justify">
        {% include "index/_what_ami_looking.html" %}
      </div>
    </div>
</div>
{% endblock %}
