{% extends 'base.html' %}
{% load static %}

{% block head %}
  <title>Giovanni Aguirre</title>

  {% if not debug %}
    <!-- Google Analytics -->
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', '{{ analytics_ua }}', 'auto');
      ga('send', 'pageview', 'index');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics_ua }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ analytics_ua }}');
    </script>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'landing/landing.js' %}"></script>
{% endblock %}

{% block content %}
  {% include "components/navbar_index.html" %}
  {% include "components/modal_contact.html" %}
  <div class="container pt-5">

    <div class="row">
      <div class="col-12">
        {% include "components/presentation_card.html" %}
      </div>

      <div class="col-12 text-justify">
        {% include "index/_career_overview.html" %}
      </div>

      <div class="col-12 mt-4 text-justify">
        {% include "index/_what_ami_looking.html" %}
      </div>
    </div>
</div>
{% endblock %}
