<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 py-3 text-center">
        {% if nav_active == 'index' %}
          <a class="footer-link active" href="#">About me</a>
        {% else %}
          <a class="footer-link" href={% url 'index' %}#">About me</a>
        {% endif %}

        {% if nav_active == 'portfolio' %}
          <a class="footer-link active" href="#">Side projects</a>
        {% else %}
          <a class="footer-link" href={% url 'portfolio' %}#">Side projects</a>
        {% endif %}

        {% if nav_active == 'learning' %}
          <a class="footer-link active" href="#">Continuous learning</a>
        {% else %}
          <a class="footer-link" href={% url 'learning' %}#">Continuous learning</a>
        {% endif %}

        {% if nav_active == 'blog' %}
          <a class="footer-link active" href="#">Blog</a>
        {% else %}
          <a class="footer-link" href={% url 'blog' %}#">Blog</a>
        {% endif %}
      </div>
    </div>
  </div>
</footer>