<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <div class="container">

    <!-- Brand header -->
    <ul class="navbar-nav navbar-profile d-none">
      <li class="nav-item">
        <a href="{% url 'index' %}" class="nav-link nav-link-brand">
          <div class="navbar-profile-link">
            <div class="name-container">
              <div class="fullname">Giovanni Aguirre</div>
              <div class="job">Software engineer</div>
            </div>
          </div>
        </a>
      </li>
    </ul>

    <button
        class="navbar-toggler ml-auto mt-2"
        type="button"
        data-toggle="collapse"
        data-target="#main-navbar"
        aria-controls="main-navbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
      <span class="fas fa-ellipsis-v"></span>
    </button>

    <div id="main-navbar" class="collapse navbar-collapse">
      <ul class="navbar-nav mx-auto">
        {% include 'components/navbar_links.html' %}
      </ul>
    </div>
  </div>
</nav>