<div class="presentation-card">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="profile-image"></div>
    </div>
    <div class="col-12 col-md-8 pt-4 pt-md-1">
      <h1 class="text-center text-md-left">Hi, I'm Giovanni Aguirre</h1>
      <h2 class="text-center text-md-left">I'm a Software Developer</h2>

      <div class="row mt-5 mt-md-4">
        <div class="col-12">
          <div class="text-center text-md-right mt-md-5">
            <span class="fas fa-map-marker-alt"></span>
            <span>&nbsp;México&nbsp;&nbsp;&nbsp;|</span>
            <span>&nbsp;&nbsp;&nbsp;Contact me:&nbsp;&nbsp;</span>

            <a href="mailto:gio.aguirrea@gmail.com" target="_blank">
              <span class="fas fa-paper-plane"></span>
            </a>
            <span>&nbsp;&nbsp;</span>
            <a href="https://twitter.com/DiganmeGiovanni" target="_blank">
              <span class="fab fa-twitter"></span>
            </a>
            <span>&nbsp;&nbsp;</span>
            <a href="https://wa.me/527621006948" target="_blank">
              <span class="fab fa-whatsapp"></span>
            </a>
            <span>&nbsp;&nbsp;</span>
            <a href="tel:+527621006948" target="_blank">
              <span class="fas fa-mobile"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>