@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$bg-color: #F4F4F4;
$color: #444;

html, body {
    background: $bg-color;
    color: $color;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, a {
    color: black;
}


// Navbar

.navbar {
    background-color: $bg-color;
    border-bottom: 1px solid #E4E4E4;

    div .navbar-nav .nav-item .nav-link {
        padding-left: 1.5rem;
        padding-right: 0;
        text-decoration: underline;
    }
}


// Project cards

.project-card {
    cursor: pointer;

    &::hover {
        background-color: black;   
    }
}

.project-card .card-footer {
    background-color: white;
}
