{{ define "main" }}
    <div class="container">
        {{ partial "navbar.html" . }}
        {{ .Content }}

        <div class="row mt-3 mt-lg-5">
            {{ range .Pages }}
                <div class="col col-md-6 col-lg-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h3 class="card-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                            <h6 class="card-subtitle text-muted mb-3 mt-2">{{ .Date.Format "Jan 2, 2006" }}</h6>

                            <p class="card-text">{{ .Summary }}</p>

                            <a href="{{ .RelPermalink }}" class="card-link">
                                Read more
                            </a>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}
