{% extends 'base.html' %}
{% load static %}

{% block head %}
  <title>Continuous learning</title>
{% endblock %}

{% block content %}
{% include "components/navbar_small.html" %}
<div class="container pt-5 mt-5">
  <div class="row">
    <div class="col-12 text-justify">
      <h1>Continuous learning</h1>
      <p>
        Usually when I started to learn a new technology I create a repository
        prefixed with ‘Learning’ and followed by the name of the technology
        i’m learning, this repos contains the basic exercises that I do
        or follow from tutorials. When I feel comfortable with the basics I
        stop with the repository and go on with small side projects to practice
        my knowledge
      </p>
    </div>
  </div>

  <!-- Projects grid -->
  <div class="row mt-3">
    {% for project in projects %}
      <div class="col-12 col-lg-6 pt-3">
        <div class="card">
          <div class="card-body">
            <div class="card-title">{{ project.title }}</div>
            <div class="card-subtitle text-muted mb-2">{{ project.stack }}</div>
            <p class="card-text"></p>

            <a href="{{ project.link }}" class="card-link" target="_blank">
              <span class="fab fa-github"></span>
              <span>&nbsp;View project</span>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
