{% extends 'base.html' %}
{% load static %}

{% block head %}
  <title>Continuous learning</title>
{% endblock %}

{% block content %}
{% include "components/navbar.html" %}
<div class="container pt-5 mt-5">
  <div class="col-12 text-justify">
    <h1>Continuous learning</h1>
    <p>
      Usually when i started to learn a new technology I create a repository
      prefixed with ‘Learning’ and followed by the name of the technology
      i’m learning, this repo contains the basic exercises that i create
      or follow from tutorials. When i feel comfortable with the basic I
      stop with the repository and go on with small side projects to practice
      my knowledge.
    </p>
  </div>
</div>
{% endblock %}
