
<nav class="navbar navbar-expand-md navbar-light sticky-top">
        <a class="navbar-brand d-none" href="#">Navbar</a>

        <div id="navbar-links-container"
            class="collapse navbar-collapse"
        >
            <ul class="navbar-nav ms-auto pt-1 pe-3 pe-md-0 mb-3 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link text-end text-md-start" href="#">
                        Projects
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-end text-md-start" href="#">
                        Blog
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-end text-md-start" href="#">
                        Contact
                    </a>
                </li>
            </ul>
        </div>

        <button
            class="navbar-toggler ms-auto"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-links-container"
            aria-controls="navbar-links-container"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
</nav>
